.parent {
    position: relative;
}

.headers {
    grid-area: 1 / 1 / 2 / 4;
}

.groupss {
    grid-area: 2 / 1 / 3 / 2;
}

.channelss {
    grid-area: 2 / 2 / 3 / 3;
}

.chatzones {
    grid-area: 2 / 3 / 3 / 4;
}